.cs-loader {
    height: 100%; 
    width: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    background: rgba(77, 141, 250, 0.6);
    background: -moz-linear-gradient(-45deg, rgba(77, 141, 250, 0.6) 32%, rgba(0, 0, 0, 0.6) 99%);
    background: -webkit-linear-gradient(-45deg, rgba(77, 141, 250, 0.6) 32%,rgba(0, 0, 0, 0.6) 99%);
    background: linear-gradient(135deg, rgba(77, 141, 250, 0.6) 32%,rgba(0, 0, 0, 0.6) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d8dfa', endColorstr='#000000',GradientType=1 ); 
    z-index:2000 !important;
}

.cs-loader-inner {
    transform: translateY(-50%);
    top: 40%;
    position: absolute;
    width: 100%;
    color: #FFF;
    padding: 0 100px;
    text-align: center;
}

.cs-loader-inner label {
    font-size: 20px;
    opacity: 0;
    display:inline-block;
}

@keyframes lol {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    33% {
        opacity: 1;
        transform: translateX(0px);
    }
    66% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}

@-webkit-keyframes lol {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-300px);
    }
    33% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    66% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(300px);
    }
}

.cs-loader-inner label:nth-child(6) {
    -webkit-animation: lol 3s infinite ease-in-out;
    animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
    -webkit-animation: lol 3s 100ms infinite ease-in-out;
    animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
    -webkit-animation: lol 3s 200ms infinite ease-in-out;
    animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
    -webkit-animation: lol 3s 300ms infinite ease-in-out;
    animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
    -webkit-animation: lol 3s 400ms infinite ease-in-out;
    animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
    -webkit-animation: lol 3s 500ms infinite ease-in-out;
    animation: lol 3s 500ms infinite ease-in-out;
}

.dv-sup { margin-top: 30px; }

.pointer {
    cursor:pointer;
}

#sesion {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.input-group-addon, .input-group {
    white-space: nowrap;
    vertical-align: middle;
}

.input-group-addon {
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-top-color: rgb(204, 204, 204);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.snackbar {
    display: none;
    min-width: 250px;
    margin-left: -125px;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 50000;
    left: 50%;
    top: 30px;
    font-size: 17px;
    border-radius: 15px;
}

.snackbar_error {
    background-color: rgba(254, 46, 46, 0.7);
    color: #fff;
    font-weight: bold;
}

.snackbar_info {
    background-color: rgba(46, 100, 254, 0.7);
    color: #fff;
    font-weight: bold;
}

.snackbar_success {
    background-color: rgba(58, 223, 0, 0.7);
    color: #fff;
    font-weight: bold;
}

.snackbar_warning {
    background-color: rgba(215, 223, 1, 0.7);
    color: #000;
    font-weight: bold;
}
  
.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

.txttooltip {
    position: relative;
    display: inline-block;
}
  
  /* Tooltip text */
.txttooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .txttooltip:hover .tooltiptext {
    visibility: visible;
  }