<div class="home-button" style="top: 20px; left: 20px; z-index: 1000; background-color: #0C4A6E; margin-bottom: 10px; padding: 7px 14px;">
    <a href="#!/" class="nav-link pointer">
        <div style="width: 50px; height: 50px; background-color: #c1d044; border-radius: 50%; display: flex; justify-content: center; align-items: center;">
        <i class="la la-home" style="font-size: 25px; color: white;"></i>
        </div>
    </a>
</div>


<div class="row" style="margin-right: 35px; margin-left: 35px; margin-top: 35px; margin-bottom: 35px;">
    <div class="col-md-3" ng-show="oInformacionEncuesta.id === null && !bExportar">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Módulos</h4>
            </div>
            <div class="card-body">
                <div class="custom-control custom-checkbox mr-1">
                    <input type="checkbox" class="custom-control-input" name="captaciones" id="captaciones" ng-click="filtroCaptaciones()">
                    <label class="custom-control-label" for="captaciones">Captaciones</label>
                </div>

                <div class="custom-control custom-checkbox mr-1">
                    <input type="checkbox" class="custom-control-input" name="vertimiento" id="vertimiento" ng-click="filtroVertimiento()">
                    <label class="custom-control-label" for="vertimiento">Vertimiento</label>
                </div>

                <div class="custom-control custom-checkbox mr-1">
                    <input type="checkbox" class="custom-control-input" name="ocupacion" id="ocupacion" ng-click="filtroOcupacion()">
                    <label class="custom-control-label" for="ocupacion">Ocupación de cauce - Obras hidráulicas</label>
                </div>

                <div class="custom-control custom-checkbox mr-1">
                    <input type="checkbox" class="custom-control-input" name="minera" id="minera" ng-click="filtroMinera()">
                    <label class="custom-control-label" for="minera">Actividad minera</label>
                </div>
                <div class="mt-2">
                    <a class="btn btn-info"  href="#!/mapa">
                        <i class="la la-map-marker"></i> Ver Mapa
                    </a>
                </div>
            </div>
        </div> 

        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-info" ng-click="catalogoEncuestas()">Buscar</button>
                <button type="button" class="btn btn-info" ng-click="exportarEncuestas()" ng-show="aRegistrosTotales.length > 0">CSV ({{ aRegistrosTotales.length }})</button>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4 class="card-title pointer" id="basic-layout-form" ng-click="mostrarOcultarFiltro('basico')"><b>Datos básicos</b></h4>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li ng-click="limpiarFiltros('basicos')" class="pointer"><i class="fas fa-broom"></i></li>
                    </ul>
                </div>
            </div>

            <div class="card-body" ng-show="mostrarFiltros.basico">
                <div class="row">
                    <div class="col-md-12" ng-repeat="oFiltro in aFiltrosBasico track by oFiltro.id">
                        <div class="form-group" ng-if="oFiltro.tipo === 'select'">
                            <label ng-attr-for="{{ oFiltro.id }}" class="form-label">{{ oFiltro.titulo }}</label>
                            <select class="" multiple="multiple" ng-attr-id="{{ oFiltro.id }}" ng-attr-name="{{ oFiltro.id }}"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" ng-show="oFiltros.captaciones">
            <div class="card-header pointer">
                <h4 class="card-title" id="basic-layout-form" ng-click="mostrarOcultarFiltro('captaciones')"><b>Captaciones</b></h4>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li ng-click="limpiarFiltros('captaciones')" class="pointer"><i class="fas fa-broom"></i></li>
                    </ul>
                </div>
            </div>

            <div class="card-body" ng-show="mostrarFiltros.captaciones">
                <div class="row">
                    <div class="col-md-12" ng-repeat="oFiltro in aFiltrosCaptaciones track by oFiltro.id">
                        <div class="form-group" ng-if="oFiltro.tipo === 'select'">
                            <label ng-attr-for="{{ oFiltro.id }}" class="form-label">{{ oFiltro.titulo }}</label>
                            <select class="" multiple="multiple" ng-attr-id="{{ oFiltro.id }}" ng-attr-name="{{ oFiltro.id }}"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" ng-show="oFiltros.vertimiento">
            <div class="card-header pointer">
                <h4 class="card-title" id="basic-layout-form" ng-click="mostrarOcultarFiltro('vertimiento')"><b>Vertimientos</b></h4>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li ng-click="limpiarFiltros('vertimiento')" class="pointer"><i class="fas fa-broom"></i></li>
                    </ul>
                </div>
            </div>

            <div class="card-body" ng-show="mostrarFiltros.vertimiento">
                <div class="row">
                    <div class="col-md-12" ng-repeat="oFiltro in aFiltrosVertimiento track by oFiltro.id">
                        <div class="form-group" ng-if="oFiltro.tipo === 'select'">
                            <label ng-attr-for="{{ oFiltro.id }}" class="form-label">{{ oFiltro.titulo }}</label>
                            <select class="" multiple="multiple" ng-attr-id="{{ oFiltro.id }}" ng-attr-name="{{ oFiltro.id }}"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" ng-show="oFiltros.ocupacion">
            <div class="card-header pointer">
                <h4 class="card-title" id="basic-layout-form" ng-click="mostrarOcultarFiltro('ocupacion')"><b>Ocupación de cauce</b></h4>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li ng-click="limpiarFiltros('ocupacion')" class="pointer"><i class="fas fa-broom"></i></li>
                    </ul>
                </div>
            </div>

            <div class="card-body" ng-show="mostrarFiltros.ocupacion">
                <div class="row">
                    <div class="col-md-12" ng-repeat="oFiltro in aFiltrosOcupacion track by oFiltro.id">
                        <div class="form-group" ng-if="oFiltro.tipo === 'select'">
                            <label ng-attr-for="{{ oFiltro.id }}" class="form-label">{{ oFiltro.titulo }}</label>
                            <select class="" multiple="multiple" ng-attr-id="{{ oFiltro.id }}" ng-attr-name="{{ oFiltro.id }}"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" ng-show="oFiltros.minera">
            <div class="card-header pointer">
                <h4 class="card-title" id="basic-layout-form" ng-click="mostrarOcultarFiltro('minera')"><b>Actividad minera</b></h4>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li ng-click="limpiarFiltros('minera')" class="pointer"><i class="fas fa-broom"></i></li>
                    </ul>
                </div>
            </div>

            <div class="card-body" ng-show="mostrarFiltros.minera">
                <div class="row">
                    <div class="col-md-12" ng-repeat="oFiltro in aFiltrosMinera track by oFiltro.id">
                        <div class="form-group" ng-if="oFiltro.tipo === 'select'">
                            <label ng-attr-for="{{ oFiltro.id }}" class="form-label">{{ oFiltro.titulo }}</label>
                            <select class="" multiple="multiple" ng-attr-id="{{ oFiltro.id }}" ng-attr-name="{{ oFiltro.id }}"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-info" ng-click="catalogoEncuestas()">Buscar</button>
                <button type="button" class="btn btn-info" ng-click="exportarEncuestas()" ng-show="aRegistrosTotales.length > 0">Exportar ({{ aRegistrosTotales.length }})</button>
            </div>
        </div>
    </div>

    <div class="col-md-9" ng-show="oInformacionEncuesta.id === null && !bExportar">
        <div style="overflow-x:auto;">
            <table id="tb_encuestas" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Cuenca</th>
                        <th>Diligenciamiento</th>
                        <th>Validación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Código</th>
                        <th>Cuenca</th>
                        <th>Diligenciamiento</th>
                        <th>Validación</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="col-md-12" ng-show="oInformacionEncuesta.id !== null && !bExportar">
        
        <button type="button" class="btn btn-info" style="width:120px; float:right; display:block;" ng-click="ocultarEncuesta()">Volver</button>
        <button type="button" class="btn btn-info" style="width:120px; float:right; display:block; margin-left: 20px;" ng-click="exportarPDF()">PDF</button>

        <div style="clear:both;"></div>
        
        <div class="card dv-sup" id="info-encuesta" ng-repeat="oRegistro in oInformacionEncuesta.estructura" ng-show="oRegistro.mostrar">
            <div class="card-header">
                <h4 class="card-title">{{ oRegistro.titulo }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-group" ng-repeat="oGrupo in oRegistro.grupos" ng-show="oGrupo.mostrar">
                    <li class="list-group-item" ng-repeat="oCampo in oGrupo.campos">
                        <div ng-show="oCampo.valor !== null && (oGrupo.campos.length === 1 || oGrupo.tipo === 'mapa' || oGrupo.tipo === 'imagen')">
                            <h5 class="text-bold-600">{{ oCampo.titulo }}:</h5>
                            <small class="text-muted" ng-if="oGrupo.tipo !== 'imagen'">{{ oCampo.valor }}</small>
                            <img ng-if="oGrupo.tipo === 'imagen'" ng-attr-src="{{ oCampo.url }}" style="max-height: 300px" />
                        </div>
                    </li>
                    <li class="list-group-item" ng-if="oGrupo.tipo === 'mapa' && oGrupo.latitud !== null && oGrupo.longitud !== null">
                        <div ng-attr-id="mapa{{ oGrupo.contenedor }}" style="width: 100%; height: 400px;">
                            <div ng-attr-id="{{ oGrupo.contenedor }}" style="width: 100%; height: 400px;">
                            
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item" ng-if="oGrupo.tipo === 'tabla'">
                        <div class="row" style="padding: 0px; margin: 0px;" ng-repeat="aCampos in oGrupo.filas">
                            <div ng-class="oGrupo.clase_css" ng-repeat="oCampo in aCampos">
                                <div class="form-group">
                                    <h5 class="text-bold-600">{{ oCampo.titulo }}:</h5>
                                    <small class="text-muted" ng-if="oGrupo.tipo !== 'imagen'">{{ oCampo.valor }}</small>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-12" ng-show="oInformacionEncuesta.id === null && bExportar">
        <button type="button" class="btn btn-info" style="width:120px; float:right; display:block;" ng-click="ocultarEncuesta()">Volver</button>
        <button type="button" class="btn btn-info" style="width:120px; float:right; display:block; margin-right: 5px;" ng-click="generarCSVEncuestas()">CSV ({{ aRegistrosTotales.length }})</button>
        
        <div style="clear:both;"></div>

        <div class="card dv-sup" ng-repeat="oRegistro in oExportarEncuesta.estructura">
            <div class="card-header">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" ng-model="oRegistro.seleccionado" ng-checked="oRegistro.seleccionado" ng-click="seleccionaTabla(oRegistro)">
                    <label class="form-check-label">
                        <h4 class="card-title">{{ oRegistro.titulo }}</h4>
                    </label>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group" ng-repeat="oGrupo in oRegistro.grupos">
                    <li class="list-group-item" ng-repeat="oCampo in oGrupo.campos" ng-if="oGrupo.tipo === 'informacion' || oGrupo.tipo === 'mapa'">
                        <div class="lead">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" style="margin-top: 0.9rem;" ng-model="oCampo.seleccionado" ng-checked="oCampo.seleccionado" ng-click="seleccionaCampo()">
                                <label class="form-check-label">
                                    <small class="text-muted">{{ oCampo.titulo }}</small>
                                </label>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item" ng-if="oGrupo.tipo === 'tabla'">
                        <div class="row" style="padding: 0px; margin: 0px;" ng-repeat="aCampos in oGrupo.filas">
                            <div ng-class="oGrupo.clase_css" ng-repeat="oCampo in aCampos">
                                <div class="lead">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" style="margin-top: 0.9rem;" ng-model="oCampo.seleccionado" ng-checked="oCampo.seleccionado" ng-click="seleccionaCampo()">
                                        <label class="form-check-label">
                                            <small class="text-muted">{{ oCampo.titulo }}</small>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>