<div class="navbar-container main-menu-content container center-layout" data-menu="menu-container">
    <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
        <li class="dropdown nav-item" data-menu="dropdown" ng-click="inicio()"><a class="dropdown-toggle nav-link" href="" data-toggle="dropdown"><i class="fas fa-home"></i> <span>Inicio</span></a></li>
        <li class="dropdown nav-item" data-menu="dropdown" ng-click="usuario()"><a class="dropdown-toggle nav-link" href="" data-toggle="dropdown"><i class="fas fa-user-cog"></i> <span>Usuarios</span></a></li>
    </ul>
</div>